<%= turbo_stream.replace "main" do %>
	<main id="main">
		<%= "Not exist" if @results.empty? %>
		<% @results.each do |product| %>
			<%= product.name %>
			<!-- Add link here -->
		<% end %>
	</main>
<% end %>