<%= turbo_stream.replace "main" do %>
	<main id="main">
		<%= "Not exist" if @results.empty? %>
		<% @results.each do |product| %>
			<%= link_to product.name, product_path(product) %>
		<% end %>
	</main>
<% end %>